<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UpmsUrl" value="http://10.1.130.23:8002/api/user/login" />
    <add key="UserCode" value="liangz" />
    <add key="UserPwd" value="123456" />
    <!-- redis服务器ip地址 -->
    <add key="dsp_redis_ip" value="10.1.130.29" />
    <!-- redis服务器端口 -->
    <add key="dsp_redis_port" value="6379" />
    <!-- redis服务器密码 -->
    <add key="dsp_redis_pw" value="dsp123456" />
    <!-- Mongodb配置-->
    <add key="ConnectStr" value="mongodb://10.1.135.81:27017" />
    <!-- <add key="ConnectStr" value="mongodb://readuser:123456@10.1.134.163:27017" />-->
    <add key="DBName" value="DSPCache" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>