<?xml version="1.0"?>
<configuration>
  <system.Web>
    <httpRuntime targetFramework="4.8" />
  </system.Web>
  <system.serviceModel>
    <services>
      <!--开始配置WCF REST服务-->
      <service name="C01">
        <endpoint binding="webHttpBinding" contract="C01"/>
      </service>
      <!--结束配置WCF REST服务-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>
