<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="url" value ="http://localhost:10000"/>
  </appSettings>
  <connectionStrings>
    <add name="NewDbContext" connectionString="metadata=res://*/Models.NewDb.csdl|res://*/Models.NewDb.ssdl|res://*/Models.NewDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=NewDb;integrated security=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>